

<form action="">
    <div class="input-group mb-3">
        <label class="input-group-text" for="inputGroupSelect01">Seleccionar</label>
        <select class="form-select" id="inputGroupSelect01" [(ngModel)]="Tipo" name="Tipo" >
          <option selected>Seleccionar</option>
          <option value="Automovil">Automovil</option>
          <option value="Camioneta">Camioneta</option>
          <option value="Campero">Campero</option>
          <option value="Microbus">Microbus</option>
          <option value="Motocicleta">Motocicleta</option>
        </select>
    </div>

    <button type="button"  (click)="buscar_tipo()" >buscar</button>

    <div id="alquilar" >

      <br>
      <br>
      <h4>ingrese las fechas en que realizara el alquiler</h4>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">placa del vehiculo</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1">Inicio</span>
        <input type="date" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
        <span class="input-group-text" id="basic-addon1">Entrega</span>
        <input type="date" class="form-control"  aria-label="Username" aria-describedby="basic-addon1">
      </div>

      <div class="input-group mb-3">
        
        <span class="input-group-text" id="basic-addon1">confirme su identidicacón (cedula)</span>
        <input type="text" class="form-control" placeholder="" aria-label="Username" aria-describedby="basic-addon1">
        
      </div>

      <p>total del alquiler</p>

      <button>alquilar</button>


    </div>

</form>



<table class="table tabulacion" >
    <thead class="table-dark">
      <tr>
        <td>Tipo</td>
        <td>Color</td>
        <td>Placa</td>
        <td>Estado</td>
        <td>Seleccionar</td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of vehiculo">
        <td>{{item.tipo}}</td>
        <td>{{item.color}}</td>
        <td>{{item.placa}}</td>
        <td>{{item.estado}}</td>
        <td> <button>Alquilar</button></td>
      </tr>
    </tbody>
</table>
