
<div id="opciones">

    <button type="button" (click)="ver_vehiculo()" class="buttonnav">ver vehiculos</button>
    <button type="button" (click)="ver_alquiler()" class="buttonnav">ver alquileres</button>
 

</div>

<div class="contenido alquiler" id="alquiler">

    <h2>Alquileres pendientes por entregar</h2>

    
  <div class="input-group mb-3" id="inputs">
    <input type="text" class="form-control" placeholder="Buscar alquiler" aria-label="Recipient's username" aria-describedby="button-addon2" [(ngModel)]="id">
    <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="buscaid()">Buscar</button>
  </div>


    <table class="table tabulacion" >
        <thead class="table-dark">
          <tr>
            <td>id alquiler</td>
            <td>Solicitante</td>
            <td>vehiculo</td>
            <td>Estado</td>
            <td>eliminar</td>
            <td>actualizar estado</td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{alquileres.id_Alquiler}}</td>
            <td>{{alquileres.id_Usuario.nombre}}</td>
            <td>{{alquileres.id_Vehiculo.placa}}</td>
            <td>{{alquileres.estado}}</td>
            <td><button (click)="eliminar()">eliminar</button></td>
            <td><button (click)="actaulizar()">aprobar</button></td>
          </tr>
            
        </tbody>
    </table>


</div>



<div class="contenido vehiculo" id="vehiculo">

    <h2>Lista de vehiculos</h2>

    <div class="input-group" id="inputs">
        

        <label class="input-group-text" for="inputGroupSelect01">Tipo vehiculo</label>
        <select class="form-select" id="" [(ngModel)]="tipo">
          <option selected>Seleccionar</option>
          <option value="Automovil">Automovil</option>
          <option value="Camioneta">Camioneta</option>
          <option value="Campero">Campero</option>
          <option value="Microbus">Microbus</option>
          <option value="Motocicleta">Motocicleta</option>
        </select>
        
        <label class="input-group-text" for="inputGroupSelect01">Disponibilidad</label>
        <select class="form-select" id="" [(ngModel)]="estado">
          <option selected>Seleccionar</option>
          <option value="Disponible">Disponible</option>
          <option value="Ocupado">Ocupado</option>
        </select>
        
        <button class="btn btn-outline-secondary" type="button" (click)="filtrar()">Buscar</button>

    </div>


    <table class="table tabulacion">
        <thead class="table-dark">
          <tr>
            <td>Placa</td>
            <td>Color</td>
            <td>Estado</td>
          </tr>
        </thead>
        <tbody>

            <tr *ngFor="let item of vehiculos">
                <td>{{item.placa}}</td>
                <td>{{item.color}}</td>
                <td>{{item.estado}}</td>
              </tr>
        </tbody>
    </table>

</div>

