<div id="componente">

    <div id="logueo">

        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Usuario Administrador</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="Usuario">
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña">
        </div>
    
        <button type="button" class="btn btn-primary">Iniciar Sesion</button>
    
    </div>

</div>




