<div class="container">
    <h2>Búsqueda de Vehículos Disponibles</h2>
    <form (ngSubmit)="buscarVehiculos()">
        <div class="form-group">
            <label for="tipo">Tipo de Vehículo:</label>
            <select class="form-control" id="tipo" [(ngModel)]="tipo" name="tipo" required>
                <option value="">Todos</option>
                <option value="camioneta">camioneta</option>
                <option value="motocicleta">motocicleta</option>
                <option value="microbus">microbus</option>
                <option value="campero">campero</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="!tipo">Buscar</button>
    </form>
</div>
